@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme {
  --color-chocolate: #7b3e19;
  --color-goldenDark: #c7ae6a;
  --color-goldenLight: #b99a45;
  --color-sandDark: #d5c28f;
  --color-sandLight: #e3d6b4;
  --color-cocoBlack: #1a1a1a;
  --color-customGray: #9ca3af;
  --color-custombg: #faf9f6;
}
:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
